
MyExternalService/\.vs/

MyExternalService/MyExternalService/bin/

MyExternalService/MyExternalService/obj/

*.user

MyExternalService/packages/

Sidecar/\.vs/

Sidecar/Sidecar/obj/

Sidecar/Sidecar/pkg/

Sidecar/packages/

Sidecar/SidecarService/bin/

Sidecar/SidecarService/obj/
